# ignore dask folder
dask-worker-space/*

# ignore vs code folder
.vscode/

# ignore application data folders
tmp/*
reports/*
historical/*

# ignore all excel files
*.log*
*.parquet
*.csv
*.xlsx
data/portfolio.xlsx
