# ignore dask folder
dask-worker-space/*

# ignore vs code folder
.vscode/

# ignore application data folders
tmp/*
reports/*
historical/*

# ignore all excel files
*.log*
*.parquet
*.csv
*.xlsx
data/portfolio.xlsx

# ignore all pickle files
*.pkl

# ignore all pycache files
__pycache__/*

# ignore all .pyc files
*.pyc
